@import "../../assets/css/index";
.iconfont {
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	padding: 2px 12px;
	margin: 0 2px;
	color: #e0e0e0;
	background: #fff;
}

.icon-back,
.icon-more {
	&:hover {
		color: #fff;
		background: $base-color;
	}
}
