@import "../../assets/css/index";

.category-container {
    width: 100%;
    background: #fff;
    padding: 16px 0;
}

.category-menu {
    width: $base-width;
    height: 644px;
    margin: 0 auto;
    position: relative;
    .category-list {
        width: 234px;
        height: 450px;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        z-index: 2;
        padding-top: 10px;

        .category-item {
            .title {
                display: block;
                width: 202px;
                padding-left: 30px;
                line-height: 42px;
                font-size: 14px;
                color: #fff;
                position: relative;
                z-index: 2;
                &:hover {
                    background-color: $base-color;
                }
                i {
                    font-size: 16px;
                    position: absolute;
                    left: 200px;
                    z-index: 2;
                }
            }
            .list-childen {
                width: 992px;
                max-width: 992px;
                overflow: hidden;
                height: 460px;
                position: absolute;
                left: 234px;
                top: 0;
                background-color: #fff;
                z-index: 2;
                box-shadow: 1px 1px 7px #938c83;
                display: flex;
                flex-flow: column wrap;
                align-content: flex-start;
                li {
                    display: inline-block;
                    width: 220px;
                    height: 72px;
                    line-height: 76px;
                    position: relative;
                    margin: 2px;

                    img {
                        position: absolute;
                        top: 20px;
                        left: 20px;
                    }
                    p {
                        position: absolute;
                        left: 70px;
                        width: 70px;
                        max-width: 70px;
                        color: #000;
                        &:hover {
                            color: $base-color;
                        }
                    }
                    input {
                        position: absolute;
                        top: 28px;
                        left: 150px;
                        width: 60px;
                        height: 24px;
                        border: 1px solid $base-color;
                        background-color: white;
                        line-height: 20px;
                        color: $base-color;
                        &:hover {
                            background: $base-color;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    // 轮播区底部
    .category-bottom {
        width: $base-width;
        height: 170px;
        margin-top: 14px;
        display: block;
        display: flex;
        justify-content: space-between;

        li {
            &:nth-child(1) {
                width: 234px;
                overflow: hidden;
            }
            img {
                width: 316px;
                height: 170px;
            }
            .icon-item {
                width: 66px;
                height: 73px;
                float: left;
                line-height: 50px;
                text-align: center;
                color: rgb(207, 205, 203);
                background: rgb(95, 87, 80);
                position: relative;
                padding: 6px;
                &:hover{
                    color: #fff
                }
                &:after,
                &:before {
                    position: absolute;
                    content: "";
                    background: #665e57;
                }
                &:before {
                    top: -1px;
                    left: 6px;
                    width: 64px;
                    height: 1px;
                }

                &:after {
                    top: 6px;
                    left: 0;
                    width: 1px;
                    height: 70px;
                }
                span {
                    position: absolute;
                    top: 50px;
                    left: 7px;
                    font-size: 12px;
                    width: 64px;
                    height: 20px;
                    line-height: 20px;
                }
            }
        }
    }
}
