@charset "UTF-8";
.site-header {
  font-size: 12px;
  border-bottom: 2px solid #ff6700;
  background: #fff;
  color: #b0b0b0;
  position: relative;
  z-index: 20;
  height: 100px;
}

.site-header .site-header-wrapper {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}

.site-header .site-header-wrapper:before {
  content: " ";
  display: table;
}

.site-header .site-header-wrapper .header-logo {
  width: 93px;
  margin-top: 26px;
  float: left;
}

.site-header .site-header-wrapper .header-logo .logo {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  overflow: hidden;
  background: #fff url(../../assets/imgs/logo.png) no-repeat center center/100%;
}

.site-header .site-header-wrapper .header-title {
  height: 48px;
  float: left;
  margin-top: 26px;
}

.site-header .site-header-wrapper .header-title h2 {
  float: left;
  line-height: 48px;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 400;
  color: #424242;
}

.site-header .site-header-wrapper .header-title p {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 15px;
  color: #757575;
}

.site-header .site-header-wrapper .site-topbar .topbar-info {
  position: relative;
  float: right;
  height: 40px;
  line-height: 40px;
  margin-top: 30px;
}

.site-header .site-header-wrapper .site-topbar .topbar-info a {
  color: #757575;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .user {
  float: left;
  cursor: pointer;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .user:hover .user-menu-wrapper {
  height: 160px;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .user .user-name {
  position: relative;
  z-index: 5;
  display: block;
  max-width: 100px;
  width: 80px;
  height: 40px;
  padding-right: 18px;
  text-align: right;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .user .user-name:hover {
  color: #ff9100;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .user .user-name .name {
  display: inline-block;
  width: auto;
  max-width: 75px;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .user .user-name i {
  font-size: 24px;
  line-height: 24px;
  vertical-align: 9px;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .user .user-name i:before {
  content: "⌄";
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 18px;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .user .user-menu-wrapper {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 3;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.site-header .site-header-wrapper .site-topbar .topbar-info .user .user-menu-wrapper .user-menu {
  width: 110px;
  margin: 0;
  padding: 7px 0;
  list-style-type: none;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .user .user-menu-wrapper .user-menu a {
  display: block;
  padding: 3px 30px;
  line-height: 2;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .user .user-menu-wrapper .user-menu a:hover {
  background: #f5f5f5;
  color: #ff6700;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .sep {
  margin: 0;
  float: left;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .link-order {
  width: 70px;
  padding: 0 5px;
  text-align: center;
}

.site-header .site-header-wrapper .site-topbar .topbar-info .link-order:hover {
  color: #ff9100;
}
/*# sourceMappingURL=SiteHeader.css.map */