@charset "UTF-8";
.clearfix:after {
  display: block;
  content: ".";
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.overflow {
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  display: inline-block;
  width: 158px;
  height: 38px;
  padding: 0;
  margin: 0;
  border: 1px solid #b0b0b0;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: #b0b0b0;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-primary {
  background: #ff6700;
  border-color: #ff6700;
  color: #fff;
}

.btn-normal {
  background: #fff;
  border-color: #ff6700;
  color: #ff6700;
}

.btn-contract {
  margin-right: 5px;
}

.btn-line-gray {
  border-color: #b0b0b0;
  background: #fff;
  color: #b0b0b0;
}

.btn-small {
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
}

.topbar-wrapper {
  width: 100%;
  background-color: #333;
}

.topbar-wrapper #site-topbar {
  width: 1226px;
  height: 40px;
  margin: 0 auto;
  font-size: 12px;
}

.topbar-wrapper #site-topbar .lside {
  float: left;
}

.topbar-wrapper #site-topbar .lside a {
  line-height: 40px;
  color: #b0b0b0;
  cursor: pointer;
  /* 选择除了最后一个元素a外的所有a元素 */
}

.topbar-wrapper #site-topbar .lside a:hover {
  color: #fff;
}

.topbar-wrapper #site-topbar .lside a:not(:last-child)::after {
  content: "|";
  margin: 0 0.5em;
  color: #424242;
}

.topbar-wrapper #site-topbar .rside {
  float: right;
}

.topbar-wrapper #site-topbar .rside a {
  color: #b0b0b0;
  cursor: pointer;
  line-height: 40px;
  margin: 0 4px;
}

.topbar-wrapper #site-topbar .rside a:hover {
  color: #fff;
}

.topbar-wrapper #site-topbar .rside > a {
  /* 选择除了最后一个元素a外的所有a元素 */
}

.topbar-wrapper #site-topbar .rside > a:not(:last-child)::before {
  content: "|";
  margin: 0 0.5em;
  color: #424242;
}

.topbar-wrapper #site-topbar .rside .user {
  float: left;
  cursor: pointer;
  line-height: 40px;
  position: relative;
}

.topbar-wrapper #site-topbar .rside .user:hover .user-menu-wrapper {
  height: 160px;
}

.topbar-wrapper #site-topbar .rside .user .user-name {
  position: relative;
  z-index: 5;
  display: block;
  width: 80px;
  height: 40px;
  padding-right: 18px;
  text-align: right;
}

.topbar-wrapper #site-topbar .rside .user .user-name .name {
  display: inline-block;
  width: auto;
  max-width: 75px;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.topbar-wrapper #site-topbar .rside .user .user-name i {
  font-size: 12px;
  line-height: 12px;
  vertical-align: 12px;
}

.topbar-wrapper #site-topbar .rside .user .user-menu-wrapper {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 3;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.topbar-wrapper #site-topbar .rside .user .user-menu-wrapper .user-menu {
  width: 110px;
  margin: 0;
  padding: 7px 0;
  list-style-type: none;
}

.topbar-wrapper #site-topbar .rside .user .user-menu-wrapper .user-menu a {
  display: block;
  padding: 3px 30px;
  margin: 0;
  line-height: 2;
}

.topbar-wrapper #site-topbar .rside .user .user-menu-wrapper .user-menu a:hover {
  background: #f5f5f5;
  color: #ff6700;
}

.topbar-wrapper #site-topbar .rside .shopping_car {
  position: relative;
  display: inline-block;
}

.topbar-wrapper #site-topbar .rside .shopping_car span {
  color: #fff;
  background: #ff6700;
  padding: 14px;
  margin-left: 4px;
}

.topbar-wrapper #site-topbar .rside .shopping_car span a,
.topbar-wrapper #site-topbar .rside .shopping_car span i {
  color: inherit;
}

.topbar-wrapper #site-topbar .rside .shopping_car span:hover {
  color: #ff6700;
  background: #fff;
}

.topbar-wrapper #site-topbar .rside .shopping_car .title {
  display: block;
  margin-right: 15px;
  width: 100%;
  height: 40px;
  text-align: center;
}

.topbar-wrapper #site-topbar .rside .shopping_car .menu {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 31;
  width: 316px;
  height: 0;
  color: #424242;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.topbar-wrapper #site-topbar .rside .shopping_car .menu .cart-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 10px 20px;
}

.topbar-wrapper #site-topbar .rside .shopping_car .menu .cart-list .cart-item {
  position: relative;
  padding-top: 10px;
  border-top: 1px solid #e0e0e0;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
}

.topbar-wrapper #site-topbar .rside .shopping_car .menu .cart-list .cart-item:nth-of-type(1) {
  border-top: none;
}

.topbar-wrapper #site-topbar .rside .shopping_car .menu .cart-list .cart-item .thumb {
  float: left;
  margin-right: 10px;
}

.topbar-wrapper #site-topbar .rside .shopping_car .menu .cart-list .cart-item .thumb img {
  width: 60px;
  height: 60px;
}

.topbar-wrapper #site-topbar .rside .shopping_car .menu .cart-list .cart-item .name {
  float: left;
  width: 95px;
  height: 40px;
  line-height: 20px;
  margin: 10px 0;
  color: #424242;
  overflow: hidden;
  text-align: center;
}

.topbar-wrapper #site-topbar .rside .shopping_car .menu .cart-list .cart-item .price {
  float: right;
  margin: 10px 20px;
}
/*# sourceMappingURL=Header.css.map */