@charset "UTF-8";
.clearfix:after {
  display: block;
  content: '.';
  height: 0;
  line-height: 0;
  clear: both;
}

.overflow {
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.topbar-wrapper {
  width: 100%;
  background-color: #333;
}

.topbar-wrapper #site-topbar {
  width: 1226px;
  height: 40px;
  margin: 0 auto;
}

.topbar-wrapper #site-topbar .lside {
  float: left;
}

.topbar-wrapper #site-topbar .lside a {
  line-height: 40px;
  color: #b0b0b0;
  /* 选择除了最后一个元素a外的所有a元素 */
}

.topbar-wrapper #site-topbar .lside a:hover {
  color: #fff;
}

.topbar-wrapper #site-topbar .lside a:not(:last-child)::after {
  content: "|";
  padding: 0 5px;
}

.topbar-wrapper #site-topbar .rside {
  float: right;
}

.topbar-wrapper #site-topbar .rside a {
  cursor: pointer;
  padding: 0 5px;
  line-height: 40px;
  color: #b0b0b0;
}

.topbar-wrapper #site-topbar .rside .shopping_car {
  position: relative;
  display: inline-block;
}

.topbar-wrapper #site-topbar .rside .shopping_car:hover .menu {
  visibility: visible;
}

.topbar-wrapper #site-topbar .rside .shopping_car:hover .title {
  background: #fff;
}

.topbar-wrapper #site-topbar .rside .shopping_car .title {
  margin-right: 15px;
  width: 100%;
  height: 40px;
  text-align: center;
}

.topbar-wrapper #site-topbar .rside .shopping_car .menu {
  width: 315px;
  height: 96px;
  -webkit-box-shadow: 1px 2px 10px #969896;
          box-shadow: 1px 2px 10px #969896;
  position: absolute;
  right: 0px;
  top: 40px;
  z-index: 99;
  visibility: hidden;
  background: #fff;
}

.topbar-wrapper #site-topbar .rside .shopping_car .menu p {
  font-size: 12px;
  color: rgba(49, 49, 49, 0.89);
  text-align: center;
  line-height: 98px;
}

.header-wrapper {
  position: relative;
  width: 100%;
  background: #fff;
}

.header-wrapper #site-header {
  width: 1226px;
  height: 90px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper #site-header .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px;
}

.header-wrapper #site-header .logo img {
  margin-top: 20px;
}

.header-wrapper #site-header #header-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 676px;
}

.header-wrapper #site-header #header-nav li {
  height: 100%;
  padding: 0 10px;
  max-width: 80px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper #site-header #header-nav li .title {
  text-align: center;
  font-size: 16px;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-wrapper #site-header #header-nav li .title:hover {
  color: #ff6700;
}

.header-wrapper #site-header #header-nav li .menu-wrapper {
  width: 100%;
  height: 230px;
  background: #fff;
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 100;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
}

.header-wrapper #site-header #header-nav li .menu-wrapper .menu-list {
  height: 230px;
  width: 1226px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-wrapper #site-header #header-nav li .menu-wrapper .menu-list .menu-item {
  width: 100%;
  position: relative;
  padding: 40px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper #site-header #header-nav li .menu-wrapper .menu-list .menu-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  height: 110px;
  width: 1px;
  background: #e0e0e0;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
}

.header-wrapper #site-header #header-nav li .menu-wrapper .menu-list .menu-item img {
  width: 160px;
  height: 110px;
}

.header-wrapper #site-header #header-nav li .menu-wrapper .menu-list .menu-item a {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.header-wrapper #site-header #header-nav li .menu-wrapper .menu-list .menu-item .price {
  font-size: 12px;
  line-height: 20px;
  color: #ff6700;
  font-weight: 400;
}

.header-wrapper #site-header .search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  width: 320px;
  position: relative;
}

.header-wrapper #site-header .search .text {
  width: 246px;
  height: 50px;
  border: 1px solid #e0e0e0;
  margin: 12px 0 0 20px;
}

.header-wrapper #site-header .search .text:hover {
  clear: all;
}

.header-wrapper #site-header .search .icon {
  position: absolute;
  top: 12px;
  left: 267px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #e0e0e0;
  background: #fff;
  cursor: pointer;
}

.header-wrapper #site-header .search .icon:hover {
  background: #ff6700;
}

.header-wrapper #site-header .search .tags {
  position: absolute;
  top: 30px;
  left: 87px;
}

.header-wrapper #site-header .search .tags a {
  display: block;
  float: left;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  margin: 0 5px;
  padding: 0 3px;
  background-color: #efeae6;
  color: #757575;
}

.header-wrapper #site-header .search .tags a:hover {
  color: #fff;
  background-color: #ff6700;
}
/*# sourceMappingURL=Header.css.map */