.cart-container {
  background: #f5f5f5;
}

.cart-container .cart-goods-list {
  width: 1226px;
  margin: 20px auto;
  padding: 20px 100px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart-container .cart-goods-list .col {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.cart-container .cart-goods-list .col-check {
  width: 110px;
  text-align: left;
}

.cart-container .cart-goods-list .col-check .checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #e0e0e0;
  margin: 0 8px 0 16px;
  font-size: 20px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.cart-container .cart-goods-list .col-check .checkbox i {
  font-size: 18px;
  color: #ff6700;
}

.cart-container .cart-goods-list .col-img {
  width: 120px;
  height: 80px;
}

.cart-container .cart-goods-list .col-name {
  width: 250px;
}

.cart-container .cart-goods-list .col-name .name {
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cart-container .cart-goods-list .col-name .name a {
  color: #ff6700;
}

.cart-container .cart-goods-list .col-price {
  width: 120px;
  color: #424242;
}

.cart-container .cart-goods-list .col-num {
  width: 180px;
  color: #424242;
}

.cart-container .cart-goods-list .col-num .change-goods-num {
  width: 148px;
  height: 38px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  zoom: 1;
}

.cart-container .cart-goods-list .col-num .change-goods-num a {
  float: left;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #757575;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cart-container .cart-goods-list .col-num .change-goods-num input {
  float: left;
  width: 72px;
  height: 38px;
  line-height: 38px;
  padding: 0;
  border-width: 0;
  color: #424242;
  font-size: 16px;
  text-align: center;
}

.cart-container .cart-goods-list .col-total {
  width: 180px;
  color: #424242;
}

.cart-container .cart-goods-list .col-action {
  width: 60px;
}

.cart-container .cart-goods-list .col-action i {
  color: #b1afaf;
  font-size: 20px;
}

.cart-container .cart-goods-list .col-action i:hover {
  color: #ff6700;
}

.cart-container .cart-goods-list .list-head {
  height: 70px;
  line-height: 70px;
  color: #424242;
}

.cart-container .cart-goods-list .list-head .col-check {
  text-align: left;
}

.cart-container .cart-goods-list .list-body .item-disable-box {
  background-color: #fafafa;
  overflow: hidden;
}

.cart-container .cart-goods-list .list-body .item-box {
  padding: 15px 0;
  border-top: 1px solid #e0e0e0;
}

.cart-container .cart-goods-list .list-body .item-box .item-table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

.cart-container .cart-goods-list .list-body .item-box .item-table .item-row {
  display: table-row;
}

.cart-container .cart-goods-list .empty-cart-top {
  height: 273px;
  margin: 65px auto;
  color: #b0b0b0;
  overflow: hidden;
}

.cart-container .cart-goods-list .empty-cart-top h2 {
  margin: 60px 100px 30px;
  font-size: 36px;
  float: left;
}

.cart-container .cart-goods-list .empty-cart-top img {
  width: 35%;
  float: left;
}

.cart-container .cart-goods-list .empty-cart-top .btn {
  margin-left: 180px;
}

.cart-container .cart-bar {
  height: 50px;
  text-align: right;
  background-color: #fff;
  position: relative;
}

.cart-container .cart-bar .section-left {
  float: left;
}

.cart-container .cart-bar .section-left .back-shopping {
  line-height: 50px;
}

.cart-container .cart-bar .section-left a {
  color: #757575;
  text-decoration: none;
}

.cart-container .cart-bar .section-left .cart-total {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #eee;
  color: #757575;
}

.cart-container .cart-bar .section-left .cart-total i {
  color: #ff6700;
}

.cart-container .cart-bar .total-price {
  padding-left: 13px;
  color: #ff6700;
}

.cart-container .cart-bar .total-price em {
  font-style: normal;
  font-size: 30px;
}

.cart-container .cart-bar .total-price .btn {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 1px solid #b0b0b0;
  text-align: center;
  color: #b0b0b0;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 200px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  margin-left: 50px;
  vertical-align: top;
}

.cart-container .cart-bar .total-price .btn-primary {
  background: #ff6700;
  border-color: #ff6700;
  color: #fff;
}

.cart-container .cart-bar .total-price .btn-disabled {
  background: #e0e0e0;
  border-color: #e0e0e0;
  color: #b0b0b0;
  cursor: default;
}

.cart-container .cart-bar .no-select-tip {
  min-width: 150px;
  height: 28px;
  line-height: 28px;
  padding: 10px;
  position: absolute;
  top: -58px;
  right: 8px;
  background-color: #fff;
  border: 1px solid #ff6700;
  color: #ff6700;
  text-align: center;
}

.cart-container .cart-bar .no-select-tip .arrow {
  display: block;
  width: 0;
  height: 0;
  border-style: solid dashed dashed;
  overflow: hidden;
  position: absolute;
  left: 50%;
}

.cart-container .cart-bar .no-select-tip .arrow-a {
  bottom: -8px;
  margin-left: -10px;
  border-width: 8px 10px 0;
  border-color: #ff6700 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: 1;
}

.cart-container .cart-bar .no-select-tip .arrow-b {
  bottom: -7px;
  margin-left: -8px;
  border-width: 7px 8px 0;
  border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: 2;
}
/*# sourceMappingURL=Cart.css.map */